body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;
  padding: 0 30px;
}
.heading {
  padding: 15px 30px;
}
.form-input {
  display: flex;
  flex-direction: column;
  border-color: lightgray;
}
.form-input:focus {
  border-color: blue;
}
.form-input:hover {
  border-color: blue;
}
